@using Scalesoft.Localization.AspNetCore
@model Scalesoft.Localization.AspNetCore.Sample.Models.LoginViewModel
@inject ILocalizationService Localizer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@{

    var userName = ViewData.Model.Input.UserName;
    <h4>@Localizer.TranslateFormat("loginUser", "ViewModel", userName)</h4>
    <p>Tento projekt je v provozu už dva @Localizer.TranslatePluralization("klic-stringu", 2).</p>

    //constant date format
    <p>@Localizer.TranslateConstant("const-date")</p>

}