@using System.Threading.Tasks
@using Localization.AspNetCore.Service
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject ILocalizationService Localization
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = Localization.GetSupportedCultures()
        .Select(c => new SelectListItem {Value = c.Name, Text = c.DisplayName})
        .ToList();
}

<div title="@Localization.Translate("Request culture provider:") @requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
          method="post" role="form">
        <div class="row">
            <div class="col-12">
                @Localization.Translate("Language"):
            </div>

            <div class="col-6">
                <select class="form-control" name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
                </select>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-xs">Save</button>
            </div>
        </div>
    </form>
</div>
