<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <components>
    
    <component service="Localization.ILocalizationRepository, Localization"
               type="Localization.DefaultLocalizationRepository, Localization"/>
    
    
    <component service="Localization.ILocalizationResourceManager, Localization"
               type="Localization.ResxResourceManager, Localization"/>

    <component type="Localization.LocalizationConfiguration, Localization">
      <parameters>
        <resourceBaseName>#{resourceBaseName}</resourceBaseName>
        <resourceAssembly>#{resourceAssembly}</resourceAssembly>
        <defaultCulture>#{defaultCulture}</defaultCulture>
      </parameters>
    </component>

    <component type="Localization.LocalizationManager, Localization"/>
    
  </components>
</castle>