<?xml version="1.0" encoding="utf-8"?>

<castle xmlns="urn:windsor-castle-config-3.3">

  <components>

    <component service="Localization.Core.ILocalizationRepository, Localization.Core"
               type="Localization.Core.DefaultLocalizationRepository, Localization.Core"/>


    <component service="Localization.Core.ILocalizationResourceManager, Localization.Core"
               type="Localization.Core.ResxResourceManager, Localization.Core"/>

    <component type="Localization.Core.LocalizationConfiguration, Localization.Core">
      <parameters>  
        <resourceBaseName>Localization.Web.Sample.localizedText</resourceBaseName>
        <resourceAssembly>Localization.Web.Sample</resourceAssembly>
        <defaultCulture>en-us</defaultCulture>
      </parameters>
    </component>

  </components>
</castle>