@section Scripts
    {
    <script src="~/node_modules/scalesoft-localization-web/dist/localization.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}

<div class="output"></div>