@using Localization.AspNetCore.Service

@inject ILocalizationService Localizer


@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

Test ViewLocalization:
@Localizer.Translate("text-1-odst")

<br />
Database:
<br />
@Localizer.Translate("support", "home")