<?xml version="1.0" encoding="utf-8"?>

<castle>

  <properties>

    <resourceBaseName>Localization.Web.Sample.localizedText</resourceBaseName>
    <resourceAssembly>Localization.Web.Sample</resourceAssembly>
    <defaultCulture>en-us</defaultCulture>

  </properties>

  <include uri="assembly://Localization/Localization.Container.Config" />
  
  <components>

  </components>
</castle>