@{
    ViewData["Title"] = "About";
}

<div class="container reduced-container">
    <h1>@ViewData["Title"]</h1>

    <p>
        Simple tool for:
        <ul>
            <li>Create localization files for new culture</li>
            <li>Edit localization files</li>
        </ul>
    </p>

</div>