@model IList<ScopeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Scope
            </div>
            <div class="card-body">
                <ul id="scope-list">
                    @foreach (var scope in Model)
                    {
                        <li><a href="#" title="@scope.RelativePath">@scope.Scope</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Selected scope: <span id="selected-scope"></span>
            </div>
            <div class="card-body" id="editor-container">
                @*Content loaded here by AJAX*@
            </div>
        </div>
    </div>
</div>

